
@{
    ViewData["Title"] = "Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<center><h1>Thank You For Your Order!</h1> <br/></center>
<center><h3>Your order Confirmed!</h3></center>
<center><img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Done.png" style="width:50%;height:50%" /></center>
</div>

@ViewBag.include
