@{
    
    Layout = "/Views/Shared/_Layout.cshtml";
}
<a href="/Identity/Account/Login">login</a>
<a href="/Identity/Account/Register">register</a>


<div class="container">
    MAin//
    @RenderBody()
    </div>

@RenderSection("scripts", required: false)